*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS  */
  /* primary */
  --primary-0: #f0efff;
  --primary-50: #d8d6ff;
  --primary-100: #c1beff;
  --primary-200: #aaa5ff;
  --primary-300: #938dff;
  --primary-400: #7b74ff;
  /* main */
  --primary-500: #645cff;
  --primary-600: #554ed9;
  --primary-700: #4640b3;
  --primary-800: #37338c;
  --primary-900: #282566;
  --primary-1000: #191740;
  --primary-1100: #0a0919;
  /* grey */
  --gray-0: #f8f9fa;
  --gray-05: #f3f6f9;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #4b5056;
  --gray-8: #31363b;
  --gray-9: #212529;

  --black: #222;
  --white: #fff;

  --green: #51b681;
  --green-1: #95cd7f;
  --green-2: #73b18a;
  --green-3: #4d8994;
  --green-4: #30619d;
  --green-5: #30379d;

  --red: #f34646;
  --red-1: #efcf4a;
  --red-2: #e0a944;
  --red-3: #d37d36;
  --red-4: #cd583c;
  --red-5: #ab2e3f;

  --blue: #07a7e6;
  --blue-1: #70bdee;
  --blue-2: #618be1;
  --blue-3: #5b5ed5;
  --blue-4: #623ac6;
  --blue-5: #58119f;

  --rainbow-1: #da66b7;
  --rainbow-2: #7549f0;
  --rainbow-3: #4989c6;
  --rainbow-4: #72bf8d;
  --rainbow-5: #f4c950;

  --indigo: #5a43f1;
  --indigo-dark: #4509cf;
  --indigo-light: #969bf6;
  --indigo-muted: #f1f2fd;

  /* typography */
  --defaultFontSize: 87.5%;
  --bodyFont: 'Montserrat', sans-serif;
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* Font family */
  --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: 'IBM Plex Mono', Menlo, monospace;
  --font-family-heading: 'Merriweather', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;

  /* Font color */
  --font-color-base: var(--gray-5);
  --font-color-muted: var(--gray-4);
  --font-color-heading: var(--gray-05);
  --font-color-bright: var(--gray-9);
  --font-color-hero-heading: var(--gray-0);

  /* Borders */
  --border-color: var(--gray-3);
  --border-color-hover: var(--gray-6);
  --border-radius: 4px;

  /* Elements */
  --background-color: #33394bfb;
  --card-background-color: var(--gray-05);
  --button-background-color: white;
  --marker: var(--blue-2);
  --link: var(--indigo);
  --link-hover-color: var(--indigo-muted);
  --navbar: rgb(33, 39, 54);

  /* rest */

  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Sizs */
  --content-width: 1160px;
  --content-width--small: 550px;
  --content-width--medium: 700px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-size: 16px;
  font-weight: normal;
  font-kerning: normal;
}

body {
  background: var(--background-color);
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: var(--link);
  text-decoration: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

p,
ul,
ol,
ul,
table,
blockquote {
  color: var(--font-color-base);
}

p,
ul,
ol {
  -webkit-font-smoothing: auto;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 1.5rem;
  letter-spacing: -0.01rem;
}

ul {
  padding-left: 1.5rem;
}

ul li ul,
ol li ol {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

li {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
}

li::marker {
  font-size: 1.1rem;
  line-height: 1;
  color: var(--marker);
}

main {
  margin-top: 60px;
}

/* Blockquote */

blockquote {
  margin: 1.5rem 0;
  border-left: 4px solid var(--indigo-light);
  margin-left: 0;
  padding: 1rem;
  background: var(--blockquote-background);
  border-radius: var(--border-radius);
}

blockquote p {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
}

blockquote p:last-of-type {
  margin: 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color-hero-heading);
  /* color: var(--font-color-heading); */
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 600;
  scroll-margin-top: 80px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h2 + h3 {
  margin-top: 1.5rem !important;
}

h2 {
  font-size: 2rem;
  margin: 0 0 1rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color-heading);
  letter-spacing: -0.03rem;
}

h2 code {
  font-size: 1.9rem !important;
}

h3 {
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--font-color-muted);
  font-family: var(--font-family-heading);
}

h3 code {
  font-size: 1.5rem !important;
}

h4,
h4 code {
  color: var(--font-color-heading);
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  color: var(--font-color-base);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-family: var(--font-family-heading);
}

header {
  width: 95vw;
  padding: 3rem 0;
  margin: 0 auto;
  padding-top: 6rem;
}

h2.home-heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
}

h2.home-heading .title {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  font-family: var(--font-family-base);
  font-weight: 700;
  letter-spacing: -0.03rem;
}
p.description {
  width: 88%;
}

@media screen and (min-width: 800px) {
  h2.home-heading .title {
    font-size: 1.6rem;
  }
}

/* Tables */

img {
  display: block;
  max-width: 100%;
}

/* Containers */
.container {
  max-width: var(--content-width);
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
.segment {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.segment.small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.segment.large {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 700px) {
  .segment {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .segment.small {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
} */

/* Buttons */
button,
a.button {
  background: var(--background-color);
  display: inline-flex;
  align-items: center;
  padding: 0.6rem 1rem;
  font-family: var(--font-family-base);
  line-height: 1;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--font-color-base);
  border: 1px solid var(--border-color);
  gap: 0.25rem;
  /* color: var(--color-white); */
}

button img,
a.button img {
  max-height: 20px;
  margin-right: 0.25rem;
}

button:hover,
a.button:hover {
  color: var(--font-color-bright);
  border-color: var(--border-color-hover);
}

/* Navigation */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 0.75rem 0;
  background: var(--navbar);
}

.navigation .container {
  display: flex;
}

.navigation a,
.navigation a:hover {
  text-decoration: none;
  background: transparent;
}

.navigation a.item.brand:hover {
  border-bottom-color: var(--indigo-light);
}

.navigation .item.brand span,
.theme-toggle span {
  display: none;
}

.navigation .logo {
  height: 22px;
  width: 22px;
  min-height: 22px;
  min-width: 22px;
}

.navigation nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.navigation a.item,
.navigation button.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
  border: none;
  border-radius: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin: 0 0.5rem;
}

.nav-item-outer {
  display: flex;
  align-items: center;
}

.nav-image {
  display: none;
  height: 22px;
  width: 22px;
  min-height: 22px;
  min-width: 22px;
}

.navigation a.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.2;
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
  margin: 0 0.5rem 0 0.25rem;
  border-bottom: 2px solid transparent;
}

.navigation a.item:hover,
.navigation button.item:hover,
.navigation a.item.active,
.navigation button.item.active {
  color: white;
}

.navigation a.item.about-me:hover,
.navigation a.item.about-me.active {
  border-bottom-color: var(--red-5);
}

.navigation a.item.projects:hover,
.navigation a.item.projects.active {
  border-bottom-color: var(--red-2);
}

.navigation a.item.git-hub:hover,
.navigation a.item.git-hub.active {
  border-bottom-color: var(--blue-2);
}

button.theme-toggle img {
  margin: 0;
}

button.theme-toggle {
  margin-left: auto;
  padding: 0.4rem 0.5rem;
  background: var(--gray-8);
  border-color: var(--gray-7);
  color: var(--gray-0);
}

button.theme-toggle:hover {
  background: var(--gray-7);
  border-color: var(--gray-6);
  color: white;
}

.about {
  padding: 4rem 0;
  margin: 0 2rem;
  padding-top: 6rem;
}

section.post {
  margin: 0 auto;
}
.card {
  width: 100%;
  max-width: 85%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: stretch;
}

.card__hero {
  flex: 0 0 40%;
}

.card__img {
  width: 100%;
  display: block;
}

.card__content {
  flex: 1;
  background: var(--gray-4);
  padding: 1rem 1rem;

  display: flex;
  flex-direction: column;
}

.card__price {
  /* flex: 0 0 50px; */
  flex: 0 0 0;
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  /* writing-mode: vertical-rl; */
  /* color: var(--black); */
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

h1.card__heading {
  color: var(--gray-8);
  margin: auto;
}

.card__tag {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--gray-8);
  padding: 2px 7px;
  border-radius: 100px;
  margin-left: 7px;
}

.card__tag--1 {
  background-color: var(--green-2);
}
.card__tag--2 {
  background-color: var(--blue-2);
}

.card__description {
  font-size: 14px;
  color: var(--gray-7);
}

.card__details {
  display: flex;
  margin-top: auto;
}

.card__detail {
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700;
  color: var(--gray-7);

  display: flex;
  align-items: center;
}

.emoji {
  font-size: 20px;
  margin-right: 3px;
}

@media screen and (min-width: 850px) {
  button.theme-toggle img {
    margin-right: 0.25rem;
  }

  .nav-image {
    display: block;
  }

  .navigation .item.brand span,
  .theme-toggle span {
    display: block;
  }

  .navigation .logo {
    display: none;
    margin-right: 0;
  }

  .navigation a.brand {
    margin: 0 1.5rem 0 0.25rem;
  }

  .navigation nav {
    gap: 1.5rem;
  }
}

@media (max-width: 34em) {
  .card {
    width: 90%;
    max-width: 95%;

    align-items: center;
    /* background-color: #30619d; */
  }

  .card__img {
    min-height: 100%;
    width: 100%;
  }

  .card__content {
    padding: 1.2rem 1.2rem;
  }

  .card__title {
    margin-bottom: 15px;
  }

  .card__tag {
    font-size: 9px;
    padding: 3px 7px;
    border-radius: 100px;
    margin-left: 7px;
  }

  .card__description {
    font-size: 12px;
  }

  .card__hero {
    flex: 0 0 30%;
  }

  .card__detail {
    font-size: 12px;
    margin-right: 12px;
    font-weight: 600;
    align-items: center;
  }

  .emoji {
    font-size: 12px;
    padding-right: 6px;
    margin-right: 0;
  }
}
