.navigation {
  /* background: var(--navbar); */
  left: 0;
  /* padding: 0.2rem 0; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navigation nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation nav {
  gap: 0.25em;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  /* padding: 1rem 0; */
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: var(--gray-4);
}

.container {
  max-width: var(--content-width);
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
